// Grid system
.main {
  @include make-md-column($main-md-columns);
  .sidebar-primary & {
    @include make-md-column($main-md-columns - $sidebar-md-columns);
  }
  .menu-item.active {
    font-weight:bold;
  }
  .entry-content{
    p {
      margin-bottom: emRhythm($base-line-multi);
    }
  }
}
.sidebar {
  @include make-md-column($sidebar-md-columns);
}
body:not(.home) {
  .content {
    @include scut-padding(30px n);
  }
}