//fonts
@include font-face($font_futurabk, $url_futurabk_bold, bold, normal, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_futurabk, $url_futurabk, normal, normal, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_futurabk, $url_futurabk_italic, normal, italic, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_futurahv, $url_futurahv, bold, normal, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_futuralt, $url_futuralt, bold, normal, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_futuramd, $url_futuramd, normal, normal, $asset-pipeline: true, $file-formats: eot woff2 woff ttf);
@include font-face($font_thin_arrow, $url_thin_arrow, normal, normal, $asset-pipeline: true, $file-formats: eot woff ttf svg);

//@extend-elements
//original selectors
//html, body, form, fieldset, table, tr, td, img
%extend_1 {
  margin: 0;
  padding: 0;
  font: $base-font-size $font-sans;
}

//original selectors
//input, button, select, textarea, optgroup, option
%extend_2 {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

html {
  @extend %extend_1;
}
body {
  @extend %extend_1;
}
form {
  @extend %extend_1;
}
fieldset {
  @extend %extend_1;
}
table {
  @extend %extend_1;
}
tr {
  @extend %extend_1;
}
td {
  @extend %extend_1;
}
img {
  @extend %extend_1;
}
input {
  @extend %extend_2;
}
button {
  @extend %extend_2;
}
select {
  @extend %extend_2;
}
textarea {
  @extend %extend_2;
}
optgroup {
  @extend %extend_2;
}
option {
  @extend %extend_2;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Thin Arrow";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left-open-big:before { content: '\e800'; } /* '?' */
.icon-right-open-big:before { content: '\e801'; } /* '?' */