.content-info {
  color: $footer-text;
  @include scut-padding(53px 0 57px);
  #sb_instagram {
    padding-bottom:0!important;
  }
  .widget {
    h3 {
      text-transform: uppercase;
	}
	a {
	  color: $footer-text;
	}
    .textwidget div , address {
      line-height: 1.8
    }
  }
}