footer {
  .container{
    border-top:1px solid #000;
    @include scut-padding(28px 0);
  }
  #sb_instagram {
    padding-bottom:0!important;
  }
  .widget {
    h3 {
      text-transform: uppercase;
	}
    .textwidget div , address {
      line-height: 1.8
    }
  }
}