footer.content-info{
  .container{
    border-top:1px solid #000;
    @include scut-padding(28px n);
  }
  #sb_instagram {
    padding-bottom:0!important;
  }
  .widget {
    h3 {
      text-transform: uppercase;
	}
    .textwidget div , address {
      line-height: 1.8
    }
    ul.menu {
      @include scut-margin(n n 0 0);
      padding-left:0;
      li {
        display: block;
        text-transform: uppercase;
        line-height: 1.8;
      }
    }
  }
}