.page-child{
  .page-header{display:none}
}
.artist-mini-title{
  font-size:14px
}
.su-artist{
  margin-bottom:15px;
  white-space: nowrap;
  img{margin-right:15px}
}
.past-event-item{
  width: auto;
  overflow: hidden;
  cursor: pointer;
  margin-bottom:15px;
  > div{float:left}
  .event-thumb{width:100px;margin-right:20px}
  .event-title{
    width:180px;margin-right:30px;
  }
  .event-date{width:120px;margin-right:20px}
  .event-address{width:120px}
}
.current-event-item{
  float:left!important;
  .event-info{
    line-height:2
  }
}
.woocommerce ul#shipping_method li{text-indent:0}
body.woocommerce{
  background-image: url(http://www.gagosian.com/__data/403b124d15785092fb28ee9a5e40429f.jpg);
  background-position: 50% 0;
  .content-wrapper{
    background:#fff;
  }
}
.cart-contents:before{
  font-family:WooCommerce;
  content: "\e01d";
  font-size:28px;
  margin-top:10px;
  margin-left:15px;
  font-style:normal;
  font-weight:400;
  padding-right:5px;
  vertical-align: bottom;
}
.cart-contents, .cart-contents:hover {text-decoration: none}


.rsLeftDefaultInv:not(.rsFullscreen){
  background: transparent;
  .rsOverflow,.rsSlide,.rsVideoFrameHolder,.rsThumbs {
    background: transparent;
  }
}