.su-news-loop{
  .su-post{
    .su-post-title{
      line-height:1.2;
    }
    .right-col{
      text-align:right;
      @include scut-margin(0 0 0 35px);
      a.su-post-thumbnail img{
        margin-bottom:10px;
      }
    }
    width: auto;
    overflow: hidden;
    .view-more{
      margin-top:25px;
      font-weight: bold;
    }
  }
}
.single-post{
  .main {
    article {
      background: #fff;
      @include scut-padding(20px 30px);
      .feature-image img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 35px;
      }
    }
  }
}