.sidebar {
  .widget{
    margin-bottom:10px
  }
  .upw-custom-posts {
    .entry-title {
      font-weight: normal;
      margin-bottom: emRhythm(1);
      @include setType(3);
      a:hover {
        font-style: italic;
        text-decoration: none;
      }
    }
  }
  .upw-slider{
    background-color: #fff;
    @include scut-padding(18px 19px 23px);
    .entry-title{
      margin-top:emRhythm(2);
      @include setType(3);
    }
    .entry-artists{
      .entry-artist-link{
        color:#cc9999;
        font-style: italic;
      }
    }
  }
  .shop-sidebar-slider{
    width:300px;
    margin:-35px auto 0;
    .carousel-control {
      position: relative;
      background-image:none;
      color:#000;
      text-shadow:none;
      @include opacity(.65);
      &:hover{
        @include opacity(1);
      }
      i {font-size: 1em}
      &.left{
      }
      &.right{
      }
    }
    .carousel-inner>.item{
      .entry-image{
        @include scut-margin (10px n);
      }
      .entry-title{
        font-weight: bold;
        line-height: 1.2;
      }
      .entry-link{line-height:5}
    }
  }
}