.sidebar {
  .upw-custom-posts {
    .entry-title {
      font-weight: normal;
      margin-bottom: emRhythm(1);
      @include setType(3);
      a:hover {
        font-style: italic;
        text-decoration: none;
      }
    }
  }
  .upw-posts-slider{
    background-color: #fff;
    @include scut-padding(18px);
    .carousel-control {
      background-image:none;
      color:#000;
      top: 50%;
      margin-top:-1.5em;
      bottom: initial;
      @include text-shadow(none);
      @include opacity(.8);
      &:hover{
        @include opacity(1);
      }
      .fa{font-size:3em}
      &.left{
        left:-1em;
      }
      &.right{
        right:-1em;
      }
    }
  }
}